.img-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px;
  }
  
  .img-each{
    border-radius: 12px;
    margin-top: 12px;
    max-width: 300px;
  }